---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="PicNet - Software Development Services">
  <main>
    <h1>Software Development Services</h1>
  </main>
</Layout>

<style lang="scss" is:global>
  @import "../../styles/scss/colors.scss";

  header {
    background-color: $color-primary;
  }
</style>
