---
import ContactForm from './ContactForm.astro';
---

<section id="contact" class="contact-area">
  <div class="container">
    <main>
      <ContactForm />

      <!-- INFO -->
      <div class="contact__info">
        <h1 class="contact__info__title">HOW CAN WE HELP YOU?</h1>

        <p class="contact__info__emphasize"><span class="text-underline">Contact Us</span> Today</p>

        <a
          class="contact__info__address"
          href="https://www.google.com/maps/place/PicNet+-+IT+Services/@-33.8247437,151.1968911,17z/data=!3m2!4b1!5s0x6b12aec2aec8f117:0x3f5f1224047403d0!4m12!1m6!3m5!1s0x6b12aedc4fa26751:0xb660fcf84162fae8!2sPicNet+-+IT+Services!8m2!3d-33.8247482!4d151.1990798!3m4!1s0x6b12aedc4fa26751:0xb660fcf84162fae8!8m2!3d-33.8247482!4d151.1990798"
          target="_blank"
        >
          <address>
            <span>LEVEL 9 SUITE 902, 28 CLARKE STREET</span>
            <br />
            <span>CROWS NEST, NSW 2065</span>
            <br />
            <span>AUSTRALIA</span>
          </address>
          <i class="fa-solid fa-location-dot"></i>
        </a>

        <a class="contact__info__phone" href="tel:+61284377900">
          <span>(+61) 2 8437 7900</span>
          <i class="fa-solid fa-phone"></i>
        </a>

        <a class="contact__info__email" href="mailto:picnet@picnet.com.au">
          <span>picnet@picnet.com.au</span>
          <i class="fa-solid fa-envelope"></i>
        </a>

        <a href="https://www.linkedin.com/company/picnet-pty-ltd/" target="_blank" class="linkeldn">
          <i class="fa-brands fa-linkedin-in fa-xl"></i>
        </a>
      </div>
    </main>
  </div>
</section>

<style lang="scss">
  @use '@styles/scss/base-var.scss' as bs;

  .contact-area {
    padding-block: calc(var(--base) * 12);
    background: no-repeat url('/images/home/bg-contact.webp') center/cover;
  }

  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--base-8x);
    padding: 0;
  }

  .contact__info {
    background-color: var(--color-bg-1);
    color: var(--color-white);
    padding: var(--base-4x) var(--base-2x);
    border-radius: var(--base-half);
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: var(--base-2x);
    text-align: right;

    h1 {
      font-size: var(--text-sm);
      font-weight: 400;
    }

    &__emphasize {
      font-size: var(--text-lg);
    }

    a {
      font-size: var(--text-sm);
      font-weight: 600;
      color: var(--color-white);

      display: grid;
      grid-template-columns: 1fr min-content;
      gap: 1ch;

      transition: color var(--base-transition);

      &.linkeldn {
        display: inline;
      }

      i {
        padding-top: 0.2em;
      }

      &:hover {
        color: var(--color-text-info);
      }
    }

    &__address {
      margin-top: var(--base-3x);
      text-transform: uppercase;

      address {
        font-style: normal;
      }
    }
  }

  @media only screen and (max-width: bs.$screen-lg) {
    main {
      grid-template-columns: 1fr;
      padding: var(--base-4x);
    }

    .contact__info {
      text-align: left;

      a {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
    }
  }
</style>
