---
---

<section id="about-us" class="section about-us-area">
  <div class="container">
    <header class="section__header">
      <h2 class="section__subtitle">SINCE 2001 WE MADE IT OUR BUSINESS TO BE ALL ABOUT YOUR BUSINESS</h2>
      <h1 class="section__title">
        Welcome to PicNet. A little <span class="text-underline">About Us</span>
      </h1>
    </header>

    <main>
      <div class="about-us__text">
        <p>
          Founded in 2001, PicNet is a leading IT services firm, with customers in the private and government sectors
          from some of Australia's largest brands and household names. Our services from start to finish are provided
          and executed 100% locally by our professional, experienced and qualified team.
        </p>
        <p>
          Our quality is managed by proven processes and models that allow us certification of quality and replication
          of results.
        </p>
        <p>
          We care for our customers and provide industry leading IT services and responsiveness. Read about companies
          just like yours in our <a href="/#caseStudies">case studies</a> section.
        </p>
      </div>

      <div class="about-us__image">
        <img src="/images/home/about-us.png" alt="about us image" loading="lazy" width="430" height="430" />
      </div>
    </main>
  </div>
</section>
<style lang="scss">
  @use '@styles/scss/base-var.scss' as bs;

  section.about-us-area {
    background-color: var(--color-white);
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--base-6x);
    margin-top: var(--base-6x);
  }

  p {
    color: var(--color-text-primary);
    margin-top: var(--base);
    font-weight: 300;

    a {
      color: var(--color-text-info);
    }
  }

  .about-us__image {
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: bs.$screen-lg) {
    main {
      grid-template-columns: 1fr;
      padding: var(--base-6x);
    }
  }
</style>
