---
import CustomerLogoAndDialog from "../../components/CustomerLogoAndDialog.astro";
import { data } from "../../data/home/case-studies.json";
---

<!-- Name of this section needed to change to Case studies -->
<section id="customer" class="customer-area">
  <div class="container">
    <header class="section__intro">
      <h3 class="section__subtitle">STORIES JUST LIKE YOURS</h3>
      <h1 class="section__title">Case Studies from some of our work</h1>
      <p>
        Numerous companies and government entities have chosen PicNet to improve
        their IT systems, processes and services
      </p>
    </header>
    <main class="case-studies">
      {
        data.map(({ logo, brand, title, more }) => (
          <CustomerLogoAndDialog
            logo={logo}
            brand={brand}
            title={title}
            more={more}
          >
            <p>
              Since 2001 Blackdot has helped enterprise-level clients across a
              range of industries globally, solve complex customer challenges,
              to transform how they go-to-market and accelerate growth.
            </p>
            <p>
              Its approach is effective because they understand that change
              needs to encompass strategy, people, process and technology.
              Possessing a wealth of experience driving transformation projects,
              they understand what good looks like, how to make it happen and
              importantly, how to maximise the benefits.
            </p>
            <p>
              PicNet partners with Blackdot for the development and support of
              superior and complex operational systems that increase Blackdot
              customer service and productivity.
            </p>
          </CustomerLogoAndDialog>
        ))
      }
    </main>
  </div>
</section>

<style lang="scss">
  @import "../../layouts/global.scss";

  .case-studies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: $base * 2;
    padding-block: $base * 4;
  }
</style>
