---
import CustomerTestimonial from "../../components/CustomerTestimonial.astro";
import { data } from "../../data/home/testimonial.json";
---

<section id="customerTestimonials" class="section customer-testimonials-area">
  <div class="container">
    <main>
      {
        data.map(({ content, logo, title }) => (
          <CustomerTestimonial title={title} logo={logo} content={content} />
        ))
      }
    </main>
  </div>
</section>
<style lang="scss">
  @import "../../styles/scss/base-var.scss";

  section.customer-testimonials-area {
    padding-top: 0;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: $base * 4;
    gap: $base * 4;

    @media only screen and (max-width: 780px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      padding: 0 $base * 4;
    }
  }
</style>
