---
import CustomerTestimonial from '@components/CustomerTestimonial.astro';
import { data } from '@data/home/testimonial.json';
---

<section id="customerTestimonials" class="section customer-testimonials-area">
  <div class="container">
    <main>
      {data.map(({ content, logo, title }) => <CustomerTestimonial title={title} logo={logo} content={content} />)}
    </main>
  </div>
</section>
<style lang="scss">
  @use '@styles/scss/base-var.scss' as bs;

  section.customer-testimonials-area {
    padding-top: 0;
  }

  main {
    --main-offset: calc(var(--base) * 4);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: var(--main-offset);
    gap: var(--main-offset);

    @media only screen and (max-width: bs.$screen-lg) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      padding: 0 var(--main-offset);
    }
  }
</style>
