---
import CustomerLogoAndDialog from "../../components/CustomerLogoAndDialog.astro";
---
<section>
  <div class="head">
    <h2>STORIES JUST LIKE YOURS</h2>
    <h1>Case Studies from some of our work</h1>
    <p>Numerous companies and government entities have chosen PicNet to improve their IT systems, processes and services</p>
  </div>
  <div class="logos">
    <CustomerLogoAndDialog logo="blackdot.png" brand="blackdot.png" title="Blackdot exists to accelerate customer-centric growth." more="software-engineering">
      <p>Since 2001 Blackdot has helped enterprise-level clients across a range of industries globally, solve complex customer challenges, to transform how they go-to-market and accelerate growth.</p>
      <p>Its approach is effective because they understand that change needs to encompass strategy, people, process and technology. Possessing a wealth of experience driving transformation projects, they understand what good looks like, how to make it happen and importantly, how to maximise the benefits.</p>
      <p>PicNet partners with Blackdot for the development and support of superior and complex operational systems that increase Blackdot customer service and productivity.</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="mja.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="indivior.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="cyca.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="guidedogs.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="nswhealth.png"></CustomerLogoAndDialog>

    <CustomerLogoAndDialog logo="rwb.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="theyield.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="grain_trade.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="bng.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="editor_group.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="transport_nsw.png"></CustomerLogoAndDialog>

    <CustomerLogoAndDialog logo="coherentcloud.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="fxa.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="fma.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="ilink.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="cellarforce.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="cpa.png"></CustomerLogoAndDialog>

    <CustomerLogoAndDialog logo="novartis.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="pfizer.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="reckitt.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="xchangeit.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="australand.png"></CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="nine.png"></CustomerLogoAndDialog>
  </div>
</section>
<style lang="scss">
  @import '../../layouts/global.scss'; 

  h2 {
    color: $color-fg-alternate-light;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
  }

  h1 {
    color: $color-fg-darker;
    font-size: 2rem;    
    text-align: center;
  }

  p {
    color: $color-fg-darker;
    opacity: 0.75;
    text-align: center;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1fr;    
  }
</style>