---
import CustomerLogoAndDialog from "../../components/CustomerLogoAndDialog.astro";
---
<section>
  <div class="head">
    <h2>STORIES JUST LIKE YOURS</h2>
    <h1>Case Studies from some of our work</h1>
    <p>Numerous companies and government entities have chosen PicNet to improve their IT systems, processes and services</p>
  </div>
  <div class="logos">
    <CustomerLogoAndDialog logo="blackdot.png" brand="blackdot.png" title="Blackdot exists to accelerate customer-centric growth." more="software-engineering">
      <p>Since 2001 Blackdot has helped enterprise-level clients across a range of industries globally, solve complex customer challenges, to transform how they go-to-market and accelerate growth.</p>
      <p>Its approach is effective because they understand that change needs to encompass strategy, people, process and technology. Possessing a wealth of experience driving transformation projects, they understand what good looks like, how to make it happen and importantly, how to maximise the benefits.</p>
      <p>PicNet partners with Blackdot for the development and support of superior and complex operational systems that increase Blackdot customer service and productivity.</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="mja.png" brand="mja_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="indivior.png" brand="indivior_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="cyca.png" brand="cyca_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="gd.png" brand="gd_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="nswhealth.png" brand="nswhealth_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>

    <CustomerLogoAndDialog logo="rwb.png" brand="rwb_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="theyield.png" brand="theyield_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="gta.png" brand="gta_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="bng.png" brand="bng_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="editor_group.png" brand="editor_group_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="transport_nsw.png" brand="transport_nsw_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>

    <CustomerLogoAndDialog logo="coherentcloud.png" brand="coherentcloud_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="fxa.png" brand="fxa_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="fma.png" brand="fma_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="ilink.png" brand="ilink_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="cellarforce.png" brand="cellarforce_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="cpa.png" brand="cpa_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>

    <CustomerLogoAndDialog logo="novartis.png" brand="novartis_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="pfizer.png" brand="pfizer_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="reckitt.png" brand="reckitt_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="xit.png" brand="xit_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="australand.png" brand="australand_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
    <CustomerLogoAndDialog logo="nine.png" brand="nine_brand.jpg" title="todo" more="software-engineering">
      <p>TODO</p>
    </CustomerLogoAndDialog>
  </div>
</section>
<style lang="scss">
  @import '../../layouts/global.scss'; 

  h2 {
    color: $color-fg-alternate-light;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
  }

  h1 {
    color: $color-fg-darker;
    font-size: 2rem;    
    text-align: center;
  }

  p {
    color: $color-fg-darker;
    opacity: 0.75;
    text-align: center;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1fr;    
  }
</style>