<section id="hero">
  <div class="hero__bg hero__bg--left"></div>
  <div class="hero__bg hero__bg--right"></div>

  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Increasingly complex technologies <br />
        require increasingly specialised expertise
      </h1>
      <h2 class="hero__subtitle">
        Since 2001 Australian organisations have benefited from PicNet's
        superior<br />
        IT Consulting, Software Development, IT Support and and Cyber Risk Management
        services.
      </h2>

      <a href="/#contact">Let's Get Started</a>
    </div>

    <img src="/images/home/header-icons.png" alt="hero" class="hero__image" />
  </div>
</section>
<style lang="scss">
  @import "@styles/scss/base-var.scss";
  @import "@styles/scss/colors.scss";
  @import "@styles/scss/typography.scss";

  section {
    color: $color-fg-light;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    padding-top: $base * 10;
  }

  .hero__bg {
    position: absolute;
    width: calc(100% + 2px);
    height: 108%;
    top: -80px;
    z-index: -2;

    @media only screen and (max-width: 780px) {
      width: calc(280% + 2px);
    }

    &--right {
      background: linear-gradient(
        to right bottom,
        $color-primary 50%,
        transparent 50%
      );
      left: 50%;
    }

    &--left {
      background: linear-gradient(
        to left bottom,
        $color-primary 50%,
        transparent 50%
      );
      right: 50%;
    }
  }

  .hero__image {
    width: 100%;
    max-width: 100%;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: $base * 2;
    align-items: center;
  }

  .hero__title,
  .hero__subtitle {
    margin: 0;
  }

  .hero__title {
    font-size: $text-3xl;
    margin-top: $base * 4;
  }

  .hero__subtitle {
    font-weight: 300;
    font-size: $text-md;
  }

  a {
    color: inherit;
    border: solid 1px;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    z-index: 2;
    display: inline-block;
    margin-top: $base * 6;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  @media only screen and (max-width: $screen-lg) {
    .hero__content {
      padding-inline: $base * 4;
      .hero__title {
        font-size: $text-lg;
      }

      .hero__subtitle {
        font-size: $text-sm;
      }
    }

    a {
      font-size: $text-sm;
    }
  }
</style>
