<section id="hero" class="section">
  <div class="hero__bg hero__bg--left"></div>
  <div class="hero__bg hero__bg--right"></div>

  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Increasingly complex technologies <br />
        require increasingly specialised expertise
      </h1>
      <h2 class="hero__subtitle">
        Since 2001 Australian organisations have benefited from PicNet's superior<br />
        IT Consulting, Software Development, IT Support and and Cyber Risk Management services.
      </h2>

      <a href="/#contact">Let's Get Started</a>
    </div>

    <img src="/images/hero/home.webp" alt="hero" class="hero__image" />
  </div>
</section>

<style lang="scss">
  @use '@styles/scss/base-var' as bs;

  section {
    color: var(--color-white);
    text-align: center;
    position: relative;
    overflow-x: hidden;
  }

  .hero__bg {
    position: absolute;
    width: calc(100% + 2px);
    height: 108%;
    top: -80px;
    z-index: -2;

    &--right {
      background: linear-gradient(to right bottom, var(--color-primary) 50%, transparent 50%);
      left: 50%;
    }

    &--left {
      background: linear-gradient(to left bottom, var(--color-primary) 50%, transparent 50%);
      right: 50%;
    }
  }

  .hero__image {
    width: 100%;
    max-width: 100%;
    aspect-ratio: calc(1038 / 341);
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base) * 2);
    align-items: center;
  }

  .hero__title,
  .hero__subtitle {
    margin: 0;
  }

  .hero__title {
    font-size: var(--text-3xl);
    margin-top: calc(var(--base) * 4);
  }

  .hero__subtitle {
    font-weight: 300;
    font-size: var(--text-md);
  }

  a {
    color: inherit;
    border: solid 1px;
    display: inline-block;
    padding: calc(var(--base) * 1.5) calc(var(--base) * 3);
    margin-top: calc(var(--base) * 6);
    border-radius: calc(var(--base) * 4);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }

  @media only screen and (max-width: bs.$screen-lg) {
    .hero__bg {
      width: calc(280% + 2px);
    }

    .hero__content {
      padding-inline: calc(var(--base) * 4);
      .hero__title {
        font-size: var(--text-lg);
      }

      .hero__subtitle {
        font-size: var(--text-sm);
      }
    }

    a {
      font-size: var(--text-sm);
    }
  }
</style>
