<section id="hero">
  <h1>Increasingly complex technologies require increasingly specialised expertise</h1>
  <h3>Since 2001 Australian organisations have benefited from PicNet's superior
    IT Consulting, Software Development, IT Support and and Cyber Risk Management services.</h3>
  <a href="#contact">Let's Get Started</a>
</section>        