<section class="section" id="hero">
  <div class="hero__bg hero__bg--left"></div>
  <div class="hero__bg hero__bg--right"></div>

  <div class="container">
    <a href="/#contact">Let's Get Started</a>
    <h1>
      Increasingly complex technologies <br />
      require increasingly specialised expertise
    </h1>
    <h3>
      Since 2001 Australian organisations have benefited from PicNet's superior<br
      />
      IT Consulting, Software Development, IT Support and and Cyber Risk Management
      services.
    </h3>

    <img
      src="/images/home/header-icons.png"
      alt="hero"
      class="hero__image"
      loading="lazy"
    />
  </div>
</section>
<style lang="scss">
  @import "../../layouts/global.scss";
  section {
    color: $color-fg-light;
    text-align: center;
    position: relative;
    overflow-x: hidden;
  }

  .hero__bg {
    position: absolute;
    width: calc(100% + 2px);
    height: 108%;
    top: -80px;
    z-index: -2;

    @media only screen and (max-width: 780px) {
      width: calc(280% + 2px);
    }

    &--right {
      background: linear-gradient(
        to right bottom,
        $color-primary 50%,
        transparent 50%
      );
      left: 50%;
    }

    &--left {
      background: linear-gradient(
        to left bottom,
        $color-primary 50%,
        transparent 50%
      );
      right: 50%;
    }
  }

  .hero__image {
    width: 100%;
    max-width: 100%;
  }

  h1 {
    font-size: $text-3xl;
  }

  h3 {
    font-weight: 300;
    font-size: $text-md;
  }

  a {
    color: inherit;
    border: solid 1px;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    z-index: 2;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }
</style>
