---
import { data } from "../../data/home/partners.json";
---

<section id="partners" class="section partners-area">
  <div class="container">
    <header class="section__header">
      <h2 class="section__subtitle">OUR KEY RELATIONSHIPS</h2>
      <h1 class="section__title">Some of our key Partners</h1>
    </header>

    <main>
      {
        data.map(({ logo, description, name }) => (
          <div class="partner">
            <div class="partner__logo">
              <img src={`/images/home/partners/${logo}`} alt={name} />
            </div>

            <div class="partner__text">
              <h3 class="partner__name">{name}</h3>
              <p class="partner__description">{description}</p>
            </div>
          </div>
        ))
      }
    </main>
  </div>
</section>
<style lang="scss">
  @import "../../styles/scss/base-var.scss";
  @import "../../styles/scss/colors.scss";
  @import "../../styles/scss/typography.scss";

  section.partners-area {
    background-color: $color-white;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .partner {
    display: flex;
    gap: $base * 3;
    width: 75%;
    margin: $base * 4 auto 0;

    &__logo {
      width: 20%;
      height: min-content;
      padding-top: 1rem;

      img {
        width: 100%;
      }
    }

    &__text {
      flex: 1;
      min-width: 0;
    }

    &__name {
      font-weight: 500;
      font-size: $text-xl;
    }

    &__description {
      font-size: $text-base;
      margin-top: $base;
      font-weight: 300;
      color: $color-text-title;
    }
  }

  @media only screen and (max-width: 780px) {
    main {
      grid-template-columns: 1fr;
    }
  }
</style>
