---
import ServiceCard from '../../components/ServiceCard.astro';
---
<section id="services">
  <ServiceCard icon="icon1" 
    title="IT Consulting and Project Management" 
    subtitle="IT Strategy, IT Reviews, Project Management" 
    colour="blue" link="/project-management/"/>
  <ServiceCard icon="icon1" 
    title="Software Development" 
    subtitle="Enterprise Custom Software Development, Engineering and Support" 
    colour="yellow" link="/project-management/"/>
  <ServiceCard icon="icon1" 
    title="IT Support Services" 
    subtitle="IT Support for Businesses, Help Desk, Cloud and Hardware provisioning" 
    colour="red" link="/project-management/"/>

  <ServiceCard icon="icon1" 
    title="Application Integration Services" 
    subtitle="Manage and integrate all your data in the cloud or on premise" 
    colour="blue" link="/project-management/"/>
  <ServiceCard icon="icon1" 
    title="IT Hardware and Software Licensing" 
    subtitle="IT hardware and software for businesses" 
    colour="yellow" link="/project-management/"/>
  <ServiceCard icon="icon1" 
    title="Cloud Management Services" 
    subtitle="Migrating email system, file storage and servers to the cloud" 
    colour="red" link="/project-management/"/>

  <ServiceCard icon="icon1" 
    title="IT Team Augmentation" 
    subtitle="IT skills at hand to enhance your internal resources" 
    colour="blue" link="/project-management/"/>
  <ServiceCard icon="icon1" 
    title="Machine Learning, AI & Business Intelligence" 
    subtitle="Getting maximum value from your data" 
    colour="yellow" link="/project-management/"/>
  <ServiceCard icon="icon1" 
    title="Risk Shield Services" 
    subtitle="IT Security Monitoring & Alerting, and Pentration Testing for SMEs" 
    colour="red" link="/project-management/"/>
</section>
<style>
  section {
    margin: 5rem 3rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  } 
</style>