---
import ColorTriCard, { BorderColor } from "../../components/ColorTriCard.astro";
import { services } from "../../data/home";
---

<section id="services" class="services-area">
  <div class="container">
    {
      services.map(({ icon, title, subtitle, colour, link }) => (
        <ColorTriCard
          icon={icon}
          title={title}
          subtitle={subtitle}
          colour={colour as keyof typeof BorderColor}
          link={link}
          class="services__card"
        />
      ))
    }
  </div>
</section>
<style lang="scss">
  @import "../../layouts/global.scss";

  .services-area {
    margin-top: $base * 5;
  }

  section.services-area .container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
</style>
