---
import Layout from '../../layouts/Layout.astro';
import CaseStudies from './sections/CaseStudies.astro';
import Description from './sections/Description.astro';
import Hero from './sections/Hero.astro';
import InfoCards from './sections/InfoCards.astro';
---

<Layout title="PicNet - Project Management and Business Analysis Services">
  <main>
    <Hero />
    <InfoCards />
    <Description />
    <CaseStudies />
  </main>
</Layout>

<style>
  
</style>
