---
import Layout from '../../layouts/Layout.astro';
import Hero from './sections/Hero.astro';
import InfoCards from './sections/InfoCards.astro';
---

<Layout title="PicNet - Project Management and Business Analysis Services">
  <main>
    <Hero />
    <InfoCards />
  </main>
</Layout>

<style>
  
</style>
