---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="PicNet - AWS and Azure Cloud Management and Migration Services">
  <main>
    <h1>AWS and Azure Cloud Management and Migration Services</h1>
  </main>
</Layout>

<style>
  
</style>
