---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="PicNet - Machine Learning and Artificial Intelligence Services">
  <main>
    <h1>Machine Learning and Artificial Intelligence Services</h1>
  </main>
</Layout>

<style>
  
</style>
