---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="PicNet - IT Hardware and Software Licensing Services">
  <main>
    <h1>IT Hardware and Software Licensing Services</h1>
  </main>
</Layout>

<style>
  
</style>
