---
---
<section id="description">
  <div class="image">
    <img src="/images/project-management/description.png"/>
  </div>
  <div class="content">
    <h2>WE SOLVE HARD PROBLEMS FOR GREAT COMPANIES</h2>
    <h1>How we have helped others</h1>
    <p>
      PicNet, via its IT Consulting and Project Management team, has helped numerous organisations to find solutions to the above via reviewing the company’s IT and providing guidance and a blueprint for future years.
    </p>
    <p>
      PicNet’s consultants are able to interview your management and IT team and understand the current
    </p>
    <p>
      situation that combined with our knowledge of best IT practices we deliver a blueprint for your firm for years to come.
    </p>
    <p>
      The PicNet team of consultants can Project Manage your IT projects for the duration of them only i.e. You pay as you go and for what you use not for fixed and permanent resources.
    </p>
  </div>  
</section>
<style lang="scss">
  @import '../../../layouts/global.scss'; 
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    background-color: $color-bg-lightest;    

    padding: 3rem;    
  }

  .content {
    column-count: 2;
    column-gap: 20px;
  }
  
  h2 {
    color: $color-fg-alternate-light;
    font-size: $fs-small;
    font-weight: normal;
  }

  h1 {
    color: $color-fg-darker;
    font-size: $fs-heading;    
  }

  p {
    color: $color-fg-darker;
  }
</style>