---
import TriCard from '../../../components/TriCard.astro';
---
<section id="services">
  <div class="heading">
    DESIGNING A SECURE, ROBUST AND RELIABLE IT FOR YOUR BUSINESS
  </div>
  <div class="sub-heading">
    Contact us to help you with:
  </div>
  <TriCard icon="icon" title="Outdated Technology" 
    subtitle="IT systems not modern enough" test="\e931"/>

  <TriCard icon="icon" title="Expensive Maintenance" 
      subtitle="IT systems expensive to maintain" />

  <TriCard icon="icon" title="New Vendor Discovery" 
      subtitle="IT supplier controls most of the IT and want to know what is out there" />

  <TriCard icon="icon" title="Future Proofing" 
      subtitle="Do not have a 5-year IT plan" />

  <TriCard icon="icon" title="Digital Transformation" 
      subtitle="Need advice on Digital transformation" />

  <TriCard icon="icon" title="Efficient Automation" 
      subtitle="Inefficient systems and manual systems in place when competitors have digitised them" />

  <TriCard icon="icon" title="Low Value Systems" 
      subtitle="IT not delivering value expected" />

  <TriCard icon="icon" title="Command & Control" 
      subtitle="Concerned with Governance of IT" />

  <TriCard icon="icon" title="Data Based Decisions" 
      subtitle="No visibility and proper intelligence using data" />

  <TriCard icon="icon" title="Scale Leaders" 
      subtitle="Finding IT Project Management capabilities to manage medium or large IT projects" />

  <TriCard icon="icon" title="Hiring Top Leadership" 
      subtitle="Finding a part time CIO or IT manager" />

  <TriCard icon="icon" title="Major System Redesigns" 
      subtitle="IT architecture refresh" />

  <TriCard icon="icon" title="Defining IT Needs" 
      subtitle="Can’t document the business requirements for a new system" />

  <TriCard icon="icon" title="Disaster Recovery" 
      subtitle="Does not have business continuity or IT disaster recovery in place" />

  <TriCard icon="icon" title="Due Diligence" 
      subtitle="Struggling performing an IT due diligence prior to a merger" />

  <TriCard icon="icon" title="Bad Actors" 
      subtitle="Data breaches and security flaws" />
</section>
<style lang="scss">
  @import '../../../layouts/global.scss'; 

  section {
    margin: 5rem 3rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  } 

  .heading {    
    font-size: $fs-small;
  }

  .sub-heading {    
    font-size: $fs-heading;
  }
</style>
<style is:global>
  /* icons */
  /*
  i.icon::before { 
    font-family: 'scape-basic'; 
    content: '\e931';
  } */   
</style>