@use '../typography.scss' as *;
@use '../colors.scss' as *;
@use '../base-var.scss' as *;

.section {
  padding-block: $base * 12;
}

.section__header {
  text-align: center;

  .section__title {
    color: $color-black;
    font-size: $text-2xl;
    font-weight: 600;
  }

  .section__subtitle {
    color: $color-text-info;
    font-size: $text-sm;
    text-transform: uppercase;
  }
}
