---
import Layout from '../layouts/Layout.astro';

import Hero from './home-page-sections/Hero.astro';
import ServicesCards from './home-page-sections/ServicesCards.astro';
import ServicesCarousel from './home-page-sections/ServicesCarousel.astro';
import AboutUs from './home-page-sections/AboutUs.astro';
import Management from './home-page-sections/Management.astro';
import CustomerLogos from './home-page-sections/CustomerLogos.astro';
import CustomerTestimonialsCarousel from './home-page-sections/CustomerTestimonialsCarousel.astro';
import Partners from './home-page-sections/Partners.astro';
import ContactUs from './home-page-sections/ContactUs.astro';
---

<Layout title="PicNet - Software Development, IT Support, Cloud Management Services">
  <main>
    <Hero />
    <ServicesCards />    
    <ServicesCarousel />    
    <Management />
    <AboutUs />
    <CustomerLogos />
    <CustomerTestimonialsCarousel />
    <Partners />
    <ContactUs />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    margin-top:-1rem;
  }
  h1 {
    font-weight: 800;
    margin: 0;
  }  
</style>
