---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="PicNet - Centazio - Application Integration Services">
  <main>
    <h1>Centazio - Application Integration Services</h1>
  </main>
</Layout>

<style>
  
</style>
