---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="PicNet - IT Support and Help Desk Services">
  <main>
    <h1>IT Support and Help Desk Services</h1>
  </main>
</Layout>

<style>
  
</style>
