---
const {logo} = Astro.props;
---

<div class="container">
  <div class="logo">
    <img src=`/images/project-management/${logo}`/>
  </div>
  <slot name="case-1"/>      
  <slot name="summary"/>  
  <slot name="case-2"/>
</div>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>