---
interface Props {
  title: string;
  logo: string;
  content: string;
}

const { title, logo, content } = Astro.props;
---

<div class="testimonial-card">
  <div class="testimonial-card__logo">
    <img src={`/images/customers/${logo}`} alt="logo" loading="lazy" width="300" height="100" class="img" />
  </div>

  <p class="testimonial-card__content">{content}</p>
  <h3 class="testimonial-card__title">{title}</h3>
</div>

<style lang="scss">
  .testimonial-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--base-4x);

    background-color: var(--color-white);
    border-radius: var(--base-half);
    padding: var(--base-6x);

    & > * {
      min-width: 0;
    }

    &__logo {
      flex-shrink: 0;
      width: 25%;

      img {
        object-fit: contain;
      }
    }
    &__title {
      font-weight: 500;
      font-size: var(--text-base);
    }

    &__content {
      &::before {
        content: '\201C';
      }

      &::after {
        content: '\201D';
      }

      font-style: italic;
    }
  }
</style>
