---
interface Props {
  dialogId: string;
}

const { dialogid } = Astro.props;
---

<dialog id={dialogid}>
  <form method="dialog" class="close">
    <button value="cancel">
      <i class="fa-solid fa-xmark fa-xl"></i>
    </button>
  </form>
  <slot />
</dialog>

<style lang="scss">
  @import "@styles/scss/base-var.scss";

  dialog {
    border: 0;
    border-radius: $base-radius;
    box-shadow: $base-box-shadow;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    &::backdrop {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .close button {
    --offset: #{$base * 2};

    background: none;
    position: absolute;
    right: var(--offset);
    top: var(--offset);
  }

  @media only screen and (max-width: $screen-lg) {
    dialog {
      width: 100%;
    }
  }
</style>
