---
interface Props {
  dialogId: string;
}

const { dialogId } = Astro.props;
---

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const dialogs = document.querySelectorAll('dialog');

    function onClick(this: HTMLDialogElement, event: MouseEvent) {
      if (this === event.target) {
        this.close();
      }
    }

    if (dialogs) {
      dialogs.forEach((dialog) => {
        dialog.addEventListener('click', onClick);
      });
    }
  });
</script>

<dialog id={dialogId}>
  <form method="dialog" class="close">
    <button value="cancel">
      <i class="fa-solid fa-circle-xmark fa-lg"></i>
    </button>
  </form>
  <slot />
</dialog>

<style lang="scss">
  @use '@styles/scss/base-var.scss' as *;
  @use '@styles/scss/colors.scss' as *;

  dialog {
    border: 0;
    border-radius: $base-radius;
    box-shadow: $base-box-shadow;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    &::backdrop {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .close button {
    --offset: #{$base * 2};

    background: none;
    position: absolute;
    right: var(--offset);
    top: var(--offset);
    color: $color-text-primary;
    display: grid;
    place-items: center;
    width: $base * 2.5;
    height: $base * 2.5;

    &:focus-visible {
      border-radius: 50%;
      outline-color: $color-text-primary;
      outline-offset: $base * 0.25;
    }
  }

  @media only screen and (max-width: $screen-lg) {
    dialog {
      width: 100%;
    }
  }
</style>
