---

---
<footer>
  <div class="links">
    <h1>Links</h1> 
    <ul>
      <li><a href="#services">Services</a></li>
      <li><a href="#aboutus">About Us</a></li>
      <li><a href="#contact">Contact Us</a></li>
      <li><a href="/blog">News & Updates</a></li>
    </ul>
  </div>
  <div class="services">
    <h1>Services</h1> 
    <ul>
      <li><a href="/project-management">IT Consulting and PM</a></li>
      <li><a href="/software-engineering">Software Development</a></li>
      <li><a href="/business-it-support">IT Support Services</a></li>
      <li><a href="/services-it-hardware-and-software-licensing">IT Hardware and Software Licensing</a></li>
      <li><a href="/application-integration-services">Application Integration Services</a></li>
      <li><a href="/services-cloud-migration">Cloud Management Services</a></li>
      <li><a href="/team-augmentation">IT Team Augmentation</a></li>
      <li><a href="/artificial-intelligence">Machine Learning, AI & Business Intelligence</a></li>
      <li><a href="/risk-shield-services">Risk Shield Services</a></li>
    </ul>
  </div>
  <div class="map">
    <a href="https://www.google.com/maps/place/PicNet+-+IT+Services/@-33.8247437,151.1968911,17z/data=!3m2!4b1!5s0x6b12aec2aec8f117:0x3f5f1224047403d0!4m12!1m6!3m5!1s0x6b12aedc4fa26751:0xb660fcf84162fae8!2sPicNet+-+IT+Services!8m2!3d-33.8247482!4d151.1990798!3m4!1s0x6b12aedc4fa26751:0xb660fcf84162fae8!8m2!3d-33.8247482!4d151.1990798">
      <img src="/images/home/map.png" />
    </a>
  </div>
</footer>
<style lang="scss">
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
</style>