---
export interface Props {
	title: string;
	subtitle: string;
	icon: string;
	link: string;
	colour: string;
}
---
<header>
	<div class="logo">
		<a href="/">
			<img src="/images/home/logo.png"/>
		</a>
	</div>
	<nav>
		<a href="#services">Services</a>
		<a href="#about">About Us</a>	
		<a href="./blog">News</a>	
		<a href="#contact">Contact Us</a>	
	</nav>
	<div class="phone">
		<a href="tel:+61284377900">+61 2 8437 7900</a>
	</div>
</header>
<style lang="scss">
  @import '../layouts/global.scss';

	header {
		background-color: $color-bg-dark;
		display: grid;	
		grid-template-columns: 1fr 2fr 1fr; 
		padding: 1rem 5rem;    
		font-weight: bold	;		
	}

  a {
    text-decoration: none;
    color: silver;
  }
  a:hover {
    color: white;
  }
  
  nav {			
    margin: auto;
    
    a {
      font-size: 0.85rem;
      margin: 20px;
      text-transform: uppercase;
    }
  }
  .phone > a {
    background-color: white;
    color: #0D364C;
    float:right;
    padding: 10px;
    border-radius: 20px;
    font-family: Roboto;
  }
</style>
