---
const { logo, className } = Astro.props;
---

<div class={`partner-container ${className}`}>
  <div class="partner__logo">
    <img
      src={`/images/home/partners/${logo}`}
      alt="picnet partner's logo"
      loading="lazy"
    />
  </div>
  <div class="partner__content"><slot /></div>
</div>
<style lang="scss">
  @import "../styles/scss/base-var.scss";

  .partner-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .partner__logo {
    grid-column: 1/3;
    width: $base * 20;
    height: min-content;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .partner__content {
    grid-column: 4/13;
  }
</style>
