---
const { logo } = Astro.props;
---

<div class="partner-container">
  <div class="logo">
    <img src={`/images/home/partners/${logo}`} />
  </div>
  <div class="content"><slot /></div>
</div>
<style lang="scss">
  .partner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo img {
    max-height: 10rem;
    max-width: 15rem;
  }
</style>
