---
export interface Props {
  tabs: string[];
}
const { tabs } = Astro.props;
---

<script>
  import { initTab } from "../scripts/tab";

  document.addEventListener("DOMContentLoaded", () => {
    if (typeof initTab === "function") {
      initTab("partners");
    }
  });
</script>

<div class="tabs__action">
  {
    tabs.map((tab, index) => (
      <button class="tabs__button" data-tab-index={index}>
        {tab}
      </button>
    ))
  }
</div>

<div class="tabs__content">
  <slot />
</div>

<style lang="scss">
  @import "../layouts/global.scss";

  .tabs__action {
    border-top-left-radius: $base-radius;
    border-top-right-radius: $base-radius;
    display: flex;

    .tabs__button {
      flex: 1;

      &.active {
        background-color: $color-text-info;
        color: $color-white;
      }
    }
  }

  button {
    border: 0;
    background-color: $color-white;
    padding: $base * 2;
    cursor: pointer;

    &:hover {
      color: $color-white;
      background-color: $color-text-info;
    }
  }

  .tabs__content {
    min-height: $base * 60;
    padding: $base * 8;
    background-color: $color-white;
    border-bottom-left-radius: $base-radius;
    border-bottom-right-radius: $base-radius;
  }
</style>
