---
interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props;
---

<div class="feature__item">
  <div class="feature__item__icon">
    <i class={`${icon} fa-2xl`}></i>
  </div>
  <strong class="feature__item__title">{title}</strong>
  <p class="feature__item__description">{description}</p>
</div>

<style lang="scss">
  @use "@styles/scss/typography.scss" as *;
  @use "@styles/scss/base-var.scss" as *;
  @use "@styles/scss/colors.scss" as *;

  .feature__item {
    text-align: start;
    color: $color-text-primary;

    &__title {
      font-weight: 500;
      font-size: $text-base;
      margin-top: $base * 2;
      display: inline-block;
    }

    &__description {
      font-size: $text-base;
      font-weight: 300;
      margin-top: $base;
    }

    &__icon {
      color: $color-text-primary;
    }
  }

  @media only screen and (max-width: $screen-lg) {
    .feature__item {
      text-align: center;
    }
  }
</style>
