---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="PicNet - Risk Shield Security Monitoring Services">
  <main>
    <h1>Risk Shield Security Monitoring Services</h1>
  </main>
</Layout>

<style>
  
</style>
