---
interface Props {
  href: string;
  text: string;
}

const { text, href } = Astro.props;
---

<a href={href} class="arrow-button">
  <span>{text}</span>
  <i class="fa-solid fa-angle-right"></i>
</a>

<style lang="scss">
  .arrow-button {
    display: inline-block;
    font-weight: 500;
    font-size: var(--text-sm);
    color: var(--color-white);
    background-color: var(--color-text-info);

    padding: 1em 1.5em;
    border-radius: var(--base-radius);

    display: inline-flex;
    align-items: center;
    gap: var(--base);
    transition: filter 0.2s var(--base-animation-timing);

    i {
      transition: transform 0.2s var(--base-animation-timing);
      will-change: transform;
    }

    &:hover {
      filter: brightness(0.95);

      i {
        transform: translateX(25%);
      }
    }
  }
</style>
