$color-bg-dark: #0D364C;
$color-bg-light: #F0F2F9;
$color-bg-lightest: #FFFFFF;
$color-fg-light: #FFFFFF;
$color-fg-dark: silver;
$color-fg-darker: #687188;
$color-fg-alternate-light: #13B5EA;

$font: 'Roboto';