@import "@styles/scss/typography.scss";
@import "@styles/scss/colors.scss";

$base: 0.5rem; // 8px
$base-animation-timing: cubic-bezier(0.2, 0, 0.3, 1);

$base-radius: $base * 0.5;

$base-transition: 0.4s $base-animation-timing;
