---
import NavHeader from './components/NavHeader.astro';
import ContactUs from './components/ContactUs.astro';
import Footer from './components/Footer.astro';
import ScrollToTop from './components/ScrollToTop.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <!-- Font Awesome -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <link
      href="/font/fontawesome/css/fontawesome.min.css"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="/font/fontawesome/css/brands.min.css"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="/font/fontawesome/css/solid.min.css"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"
        type="text/css"
      />

      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        rel="stylesheet"
        type="text/css"
      />

      <link href="/font/fontawesome/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
      <link href="/font/fontawesome/css/brands.min.css" rel="stylesheet" type="text/css" />
      <link href="/font/fontawesome/css/solid.min.css" rel="stylesheet" type="text/css" />
    </noscript>

    <title>{title}</title>

    <meta name="generator" content={Astro.generator} />
    <meta name="title" content="Home - PicNet" />
    <meta
      name="description"
      content="Since 2001 Australian organisations have benefited from PicNet's superiorIT Consulting, Software Development, IT Support and and Cyber Risk Management services."
    />
    <!-- META: OG -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" /><meta property="og:title" content="Home - PicNet" />
    <meta
      property="og:description"
      content="Since 2001 Australian organisations have benefited from PicNet's superiorIT Consulting, Software Development, IT Support and and Cyber Risk Management services."
    />
    <meta property="og:url" content="https://picnet.com.au/" />
    <meta property="og:site_name" content="PicNet" />
  </head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KZ3S28Z4ZB"></script> 
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-KZ3S28Z4ZB'); </script>


  <body>
    <NavHeader />

    <main class="page-content">
      <slot />
    </main>

    <ContactUs />
    <Footer />

    <ScrollToTop />
  </body>
</html>

<style lang="scss" is:global>
  // New Global style
  @use '@styles/scss/index.scss';
</style>
