$color-silver: silver;
$color-white: #fff;
$color-black: #000;

$color-primary: #0d364c;

$color-bg: #ebebf5;
$color-bg-1: #303f50;
$color-bg-2: #12374b;
$color-bg-3: #f0f2f9;

$color-text-primary: #687188;
$color-text-secondary: #bbc2cf;
$color-text-info: #13b5ea;
$color-text-disabled: #85878d;

$color-text-1: #f7f8fd;
$color-text-2: #303f4f;

