$color-bg-light: #F0F2F9;
$color-fg-dark: silver;

$color-white: #fff;
$color-black: #000;
$color-primary: #0D364C;
$color-text-primary: #687188;
$color-text-secondary: #bbc2cf;

$color-bg: #ebebf5;
$color-bg-1: #303f50;
$color-bg-2: #12374b;

$color-text-info: #13B5EA;
$color-text-disabled: #85878D;
$color-text-1: #f7f8fd;
$color-text-2: #303f4f;