$color-bg-dark: #0D364C;
$color-bg-light: #F0F2F9;
$color-bg-lightest: #FFFFFF;
$color-fg-light: #FFFFFF;
$color-fg-dark: silver;
$color-fg-darker: #687188;
$color-fg-alternate-light: #13B5EA;

$color-white: #fff;
$color-black: #000;
$color-primary: #0D364C;
$color-text-primary: #697288;
$color-text-secondary: #bbc2cf;
$color-bg: #ebebf5;
$color-bg-1: #303f50;
$color-bg-2: #12374b;
$color-text-info: #13B5EA;
$color-text-title: #687188;
$color-text-disabled: #85878D;